# Node.js dependencies
node_modules/

# Environment variables
.env

# TypeScript output
dist/
*.js
*.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db
